<template>
  <div class="form-group m-form-group ${errors.length ? 'has-error' : ''} ${focused ? 'has-focus' : ''}} ${touched ? 'm-touched' : ''}"
  if.bind="visibility !== 'hidden'">
  
    <label for.bind="name">${label}</label>
    <input class="form-control" id.bind="name" type.bind="type" 
    value.bind="internalValue" placeholder.bind="label"
    tabindex.bind="tabIndex" readonly.bind="visibility === 'readOnly'"
    disabled.bind="visibility === 'disabled'"
    focus.trigger="onFocused()" blur.trigger="onBlured()"
    keyup.trigger="onChanged()" />
    
    <div class="m-group-errors" if.bind="errors.length">
      <ul>
        <li repeat.for="error of errors">${error}</li>
      </ul>
    </div>
    
  </div>
</template>